SQL_SA_PASSWORD=Usersapi123!
JWT_ISSUER=FCG
JWT_KEY=fcg_super_secret_key_2026_dev_environment_123456
ADMIN_NAME=Admin
ADMIN_EMAIL=admin@fcg.com
ADMIN_PASSWORD=Admin123!
DD_API_KEY=470a9e0e5516cf4609d31adf5461b209
DD_SITE=us5.datadoghq.com

USERS_API_IMAGE=759410591963.dkr.ecr.us-east-2.amazonaws.com/fcg-users-api:latest
CATALOG_API_IMAGE=759410591963.dkr.ecr.us-east-2.amazonaws.com/fcg-catalog-api:latest
PAYMENTS_API_IMAGE=759410591963.dkr.ecr.us-east-2.amazonaws.com/fcg-payments-api:latest